.registers-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para posicionar la tarjeta de información absolutamente */
}

.registers-card {
    width: 300px;
    padding: 20px;
    background: #044c0fdd;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}