<div class="home">
  <div class="hero">
    <div class="content-container">
      <img src="logo2.png" class="logo" />
      <div class="info">
        <h1>Sistema de Monitoreo de Cultivo de Arroz</h1>
      </div>
      <button mat-raised-button color="accent" class="login-btn" (click)="goToLogin()">
        <i ></i> Iniciar Sesión
      </button>
    </div>
  </div>
  <footer>
    <p class="copyright">
      © {{ currentYear }} SPIKE. Todos los derechos reservados.
    </p>
  </footer>
</div>
