<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4 text-center text-gray-800">Datos de Sensores</h1>

  <div class="mb-4">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="filtros.id" (input)="aplicarFiltros()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="filtros.nombre" (input)="aplicarFiltros()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ubicación</mat-label>
        <input matInput [(ngModel)]="filtros.ubicacion" (input)="aplicarFiltros()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cultivo</mat-label>
        <input matInput [(ngModel)]="filtros.cultivo" (input)="aplicarFiltros()">
      </mat-form-field>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table mat-table [dataSource]="dataFilter" class="w-full mat-elevation-z-1">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="ubicacion">
        <th mat-header-cell *matHeaderCellDef>Ubicación</th>
        <td mat-cell *matCellDef="let row">{{ row.ubicacion }}</td>
      </ng-container>

      <ng-container matColumnDef="latitud">
        <th mat-header-cell *matHeaderCellDef>Latitud</th>
        <td mat-cell *matCellDef="let row">{{ row.latitud }}</td>
      </ng-container>

      <ng-container matColumnDef="longitud">
        <th mat-header-cell *matHeaderCellDef>Longitud</th>
        <td mat-cell *matCellDef="let row">{{ row.longitud }}</td>
      </ng-container>

      <ng-container matColumnDef="cultivo">
        <th mat-header-cell *matHeaderCellDef>Cultivo</th>
        <td mat-cell *matCellDef="let row">{{ row.cultivo }}</td>
      </ng-container>

      <ng-container matColumnDef="fechaRegistro">
        <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
        <td mat-cell *matCellDef="let row">{{ row.fechaRegistro }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>