<div class="card-container">
    <mat-card class="sensor-card">
        <mat-card-header>
            <mat-card-title>Registrar Sensor de Temperatura</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <p style="margin-bottom: 40px;">Seleccione el tipo de sensor de temperatura que desea registrar.</p> -->
            <div class="button-container">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="goToComponent('temperatura')"
                    class="sensor-button"
                >
                    Temperatura
                    <span class="hover-text">Seleccione el tipo de sensor de temperatura que desea registrar.</span>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="sensor-card">
        <mat-card-header>
            <mat-card-title>Registrar Sensor de Humedad</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <p style="margin-bottom: 40px;">Seleccione el tipo de sensor de humedad que desea registrar.</p> -->
            <div class="button-container">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="goToComponent('humedad')"
                    class="sensor-button"
                >
                    Humedad
                    <span class="hover-text">Seleccione el tipo de sensor de humedad que desea registrar.</span>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="sensor-card">
        <mat-card-header>
            <mat-card-title>Registrar Sensor de pH</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="button-container">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="goToComponent('ph')"
                    class="sensor-button ph-button"
                >
                    PH
                    <span class="hover-text">Seleccione el tipo de sensor de pH que desea registrar.</span>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <button
        mat-icon-button
        color="warn"
        (click)="onExit()"
        *ngIf="showExitIcon"
        class="exit-button"
        matTooltip="Volver"
    >
        <mat-icon>360</mat-icon> </button>
</div>