<div class="registers-container">
    <mat-card class="registers-card">
        <h1 class="title">REGISTRO SENSOR</h1>
        <p class="subtitle">Seleccione el sensor a registrar</p>
        <div class="button-column-container">
            <button mat-fab extended
                    matTooltip="Registra un nuevo sensor de temperatura"
                    matTooltipPosition="above"
                    aria-label="Registrar Sensor de Temperatura"
                    (click)="goToComponent('registro-t-sensor')"
                    class="boton-register">  
                    <mat-icon>device_thermostat</mat-icon>
                Temperatura
            </button>
            <button mat-fab extended
                    matTooltip="Registra un nuevo sensor de humedad"
                    matTooltipPosition="above"
                    aria-label="Registrar Sensor de Humedad"
                    (click)="goToComponent('registro-t-sensor')"
                    class="boton-register">
                    <mat-icon>
                    <img src="/humedad.png" alt="sensor humedad" style="width: 24px; height: 24px;">
                    </mat-icon>
                Humedad
            </button>
            <button mat-fab extended
                    matTooltip="Registra un nuevo sensor de calidad del aire"
                    matTooltipPosition="above"
                    aria-label="Registrar Sensor de Calidad del Aire"
                    (click)="goToComponent('registro-t-sensor')"
                    class="boton-register">
                    <mat-icon>
                    <img src="/medidor-ph.png" alt="sensor ph" style="width: 24px; height: 24px;">
                    </mat-icon>
                Ph
            </button>
        </div>
    </mat-card>
</div>