.registers-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para posicionar la tarjeta de información absolutamente */
}

.registers-card {
    width: 300px;
    padding: 20px;
    background: #055c12dd;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.button-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.button-column-container button {
    margin-bottom: 16px;
    width: 100%;
    max-width: 250px;
    color: black;
}

.title {
    color: rgb(126, 255, 255);
}

.subtitle {
    color: rgb(255, 255, 255);
}

.boton-register{
    border-radius: 50px;
    margin: 15px  15px ;

}

