.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(128, 122, 122, 0.322)),
  url('/paisaje.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.sidenav {
  width: 250px;
  background: linear-gradient(135deg, #0B7D2F 10%, #025828 90%);
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
}

.sidenav.collapsed {
  width: 60px;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dashboard-card {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background: rgba(2, 2, 2, 0.24);
  border-radius: 12px;
  box-shadow: 0px 4px 10px #025828 90%;
}

.menu-accordion {
  width: 100%;
  margin: 0;
}

.menu-logo {
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.menu-text {
  color: rgb(8, 8, 8);
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: padding-left 0.3s ease-in-out;
}

.menu.collapsed {
  padding-left: 10px;
}

.menu-link {
  color: white;
  cursor: pointer;
}

.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.image-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.dashboard-image {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.text-section {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.search-bar {
  width: 200px;
  margin-left: auto;
  padding: 0px;
  border-radius: 50px;
  margin-top: 17px;
  color: #0B7D2F;
}

.title-spacer {
  flex: 1;
  text-align: flex-end;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.logout-button-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 20px;
}

.logout-button-container button {
  background-color: #0B7D2F;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button-container button:hover {
  background-color: #129e3f;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #025828;
  color: white;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.header-content {
  display: flex;
  align-items: center;
}

.menu-button {
  margin-right: 10px;
}

.menu-button mat-icon {
    height: 48px;
    width: 48px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.mat-menu-content {
  background-color: #12c709;
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: auto;
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  text-align: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
}


.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer-content nav {
  margin-top: 5px;
}

.footer-content a {
  color: #0078d7;
  text-decoration: none;
  margin: 0 10px;
}

.footer-content a:hover {
  text-decoration: underline;
}

.sidenav + .mat-sidenav-content + .footer {
  margin-left: 250px;
}

.sidenav.collapsed + .mat-sidenav-content + .footer {
  margin-left: 60px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  width: 100%;
  max-width: 1600px;
}

.cards-container .dashboard-card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.full-width-card {
  width: 100%;
  max-width: 1600px;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .cards-container .dashboard-card {
    width: 100%;
  }
}