<div class="container-registrar-finca">
  <mat-card class="finca-card">
    <mat-card-title align="center" class="title">REGISTRAR FINCA</mat-card-title>
    <mat-card-subtitle>Complete el formulario para registrar una finca</mat-card-subtitle>

    <form class="finca-form"  [formGroup]="fincaForm" (ngSubmit)="guardarFinca()">
      <div class="form-header">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" required />
        </mat-form-field>
  
        <mat-form-field >
          <mat-label>Área Total (m²)</mat-label>
          <input matInput type="number" formControlName="areaTotal" />
        </mat-form-field>
  
        <mat-form-field >
          <mat-label>Cantidad de Parcelas</mat-label>
          <mat-select formControlName="cantidadParcelas" name="cantidadPacelas" >
            <mat-option *ngFor="let n of cantidadParcelasOptions" [value]="n">{{ n }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field >
          <mat-label>Tamaño Total Parcelas (m²)</mat-label>
          <input matInput type="number" formControlName="tamanoTotalParcelas" />
        </mat-form-field>
  
        <mat-form-field >
          <mat-label>Tipo de Suelo</mat-label>
          <mat-select formControlName="tipoSuelo">
            <mat-option *ngFor="let tipo of tipoSueloOptions" [value]="tipo">{{ tipo }}</mat-option>
          </mat-select>
        </mat-form-field>
  

      </div>
    
      <ng-container formArrayName="parcelas" >

        <div *ngFor="let parcela of parcelasFormArray.controls; let i = index" [formGroupName]="i" class="parcelas-container">
            <h4>Parcela {{ i + 1 }}</h4>

            <mat-form-field>
              <mat-label>Tamaño (m²)</mat-label>
              <input matInput formControlName="tamanio" />
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Ubicación</mat-label>
              <app-map (onGeolocalizacionChange)="onGeolocalizacionChange($event, i)"></app-map>
              <!-- <app-map (onGeolocalizacionChange)="actualizarGeolocalizacion($event, i)"></app-map> -->
              <input matInput formControlName="ubicacion" />
            </mat-form-field>
          </div>
  
      </ng-container>

      <button class="btn" mat-raised-button type="submit">Registrar finca</button>
    </form>
  </mat-card>
</div>
