.container-registrar-finca {
  background-color: #f8f9fa;
  min-height: calc(100vh - 64px);
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #747a80;
  letter-spacing: 0.5px;
  text-align: center;
  padding-bottom: 1rem;
  /* border-bottom: 3px solid #89ec8c; */
}

mat-card-subtitle{
  margin-bottom:  0.8rem;
}

.form-header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.finca-card {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
}


.finca-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

mat-form-field {
  width: 100%;
}

mat-form-field ::ng-deep .mat-form-field-outline {
  color: #afabab;
}

mat-form-field ::ng-deep .mat-form-field-outline-thick {
  color: #afabab;
}

mat-form-field ::ng-deep .mat-form-field-label {
  color: #73e686;
}

mat-form-field ::ng-deep .mat-input-element {
  color: #73e686;
}

h4 {
  margin-top: 1.5rem;
  color: #73e686;
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #f0f0f0;
}

.btn {
  background: linear-gradient(135deg, rgb(68, 168, 100) );
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 2rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background:  #0B7D2F ;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  color: white;
}

.btn:disabled {
  background: #bcf6bd;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

/* Estilos para los selectores */
mat-select ::ng-deep .mat-select-value {
  color: #2c3e50;
}

mat-select ::ng-deep .mat-select-arrow {
  color: #0B7D2F;
}

/* Estilos para los campos de parcela */
.parcelas-container {
  background-color: #ffffff;
  border: 2px solid #e4fde3;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
}
.parcelas-container:hover{
  box-shadow: 0 4px 15px rgba(25, 210, 108, 0.3);
}

/* Estilos para los mensajes de error */
mat-error {
  color: #dc3545;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}



mat-form-field.appearance-outline {
  background-color: #e9ecf3; /* fondo gris claro */
  border-radius: 4px;
}

mat-form-field.appearance-outline .mat-form-field-outline {
  display: none; /* Oculta el borde completo */
}

mat-form-field.appearance-outline .mat-form-field-wrapper {
  padding: 0 0 4px 0; /* reduce el padding */
}

mat-form-field.appearance-outline .mat-form-field-flex {
  border-bottom: 1px solid black; /* solo borde inferior negro */
  padding: 0.5rem;
}

mat-form-field.appearance-outline .mat-form-field-label {
  font-weight: 500;
}



  