<div class="container-pwd-recovery">
    <mat-card class="pwd-card">
        <mat-card-title class="title">Restablecer Contraseña</mat-card-title>
        <mat-card-content>
          <form [formGroup]="pwdRecoveryForm" (ngSubmit)="resetPassword()">
            <!-- Nueva contraseña -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Ingrese su nueva contraseña</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                type="button"
              >
                <mat-icon>{{
                  hidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  pwdRecoveryForm.get('password')?.hasError('required') &&
                  pwdRecoveryForm.get('password')?.touched
                "
              >
                La contraseña es obligatoria.
              </mat-error>
              <mat-error
                *ngIf="
                  pwdRecoveryForm.get('password')?.hasError('minlength') &&
                  pwdRecoveryForm.get('password')?.value
                "
              >
                Debe tener mínimo 6 caracteres.
              </mat-error>
            </mat-form-field>
    
            <!-- Confirmar contraseña -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Confirme nueva contraseña</mat-label>
              <input
                matInput
                [type]="hideConfirmPassword ? 'password' : 'text'"
                formControlName="confirmPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideConfirmPassword = !hideConfirmPassword"
                type="button"
              >
                <mat-icon>{{
                  hideConfirmPassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              </button>
    
                <!-- Error si NO coinciden -->
            <mat-hint *ngIf="pwdRecoveryForm.hasError('passwordMismatch') && pwdRecoveryForm.get('confirmPassword')?.value" style="color: red;">
            La contraseña no coincide
            </mat-hint>
  
            <!-- Éxito si coinciden -->
            <mat-hint class="con" *ngIf="!pwdRecoveryForm.hasError('passwordMismatch') && pwdRecoveryForm.get('confirmPassword')?.value" style="color: rgb(126, 202, 126);">
             La contraseña coincide 
            </mat-hint>
            </mat-form-field>
    
            <!-- Botón -->
            <button
              mat-raised-button
              class="full-width btn"
              type="submit"
              [disabled]="pwdRecoveryForm.invalid || pwdRecoveryForm.hasError('passwordMismatch')"
            >  {{ isLoading ? 'Restableciendo contraseña...' : 'Restablecer contraseña' }}
            </button>
          </form>
        </mat-card-content>
      </mat-card>
</div>