.container-pwd-recovery {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #0B7D2F 10%, #025828 90%);
    padding: 1rem;
  }
  
.pwd-card {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    gap: 1rem;
}

mat-card-title{
    padding: 1rem;
    color: #5a5e5a;
}

.full-width {
    width: 100%;
}
  
.btn {
    background: #64df68;
    color: white;
    margin-top: 15px;
}

.btn:disabled {
    background: #bcf6bd;
    cursor: not-allowed;
}
  
.success-container {
    text-align: center;
    margin-top: 20px;
}
  
.success-container img {
    width: 80px;
    margin-bottom: 15px;
}


