<div class="verify-code-container">
    <mat-card class="verify-card">
      <mat-card-title>Ingresa el código</mat-card-title>
      <mat-card-content>
        <p>
          Acabamos de enviar un código de 5 dígitos a <strong>{{ email }}</strong>, introdúcelo a continuación:
        </p>
  
        <div class="code-inputs">
          <input matInput id="code-0" type="text" maxlength="1" [(ngModel)]="code[0]" (input)="onInputChange($event, 0)" (keydown)="onKeyDown($event, 0)" autocomplete="off" />
          <input matInput id="code-1" type="text" maxlength="1" [(ngModel)]="code[1]" (input)="onInputChange($event, 1)" (keydown)="onKeyDown($event, 1)" autocomplete="off" />
          <input matInput id="code-2" type="text" maxlength="1" [(ngModel)]="code[2]" (input)="onInputChange($event, 2)" (keydown)="onKeyDown($event, 2)" autocomplete="off" />
          <input matInput id="code-3" type="text" maxlength="1" [(ngModel)]="code[3]" (input)="onInputChange($event, 3)" (keydown)="onKeyDown($event, 3)" autocomplete="off" />
          <input matInput id="code-4" type="text" maxlength="1" [(ngModel)]="code[4]" (input)="onInputChange($event, 4)" (keydown)="onKeyDown($event, 4)" autocomplete="off" />
        </div>
  
        <p>
          ¿No recibiste el código?
          <a (click)="resendEmail()">Reenviar email</a>
        </p>
  
        <button mat-raised-button color="primary" class="btn-green" type="button"  (click)="verifyCode()">
          Restablecer contraseña
        </button>
  
        <p>
          ¿Correo incorrecto?
          <a href="#">Enviar a otro correo</a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  